.navbar {
    display: flex;
    background: white;
    /* justify-content: center; */
    padding-top: 13px;


}


.text-caro1 {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20%;
    margin-left: 10%;
    color: rgb(99, 63, 63);


}

.btn1 {
    height: 45px;
    width: 180px;
    background-color: black;
    color: white;
}

.btn2 {
    height: 45px;
    width: 180px;
}

/* .style {
    position: absolute;
} */



.btn3 {
    background-color: none;
}

.car {
    display: flex;

}



.ambition {
    margin-left: 600px;
    color: gray;
    font-size: larger;
}

.style1 {
    margin-left: 150px;
    position: relative;




}

.card1 {
    position: absolute;
    left: 30px;
    top: 30px;
    color: white;

}

.style2 {
    margin-left: 40px;
    position: relative;

}

.card2 {
    position: absolute;
    left: 30px;
    top: 30px;
    color: white;
}

.style3 {
    margin-left: 40px;
    position: relative;

}

.card3 {
    position: absolute;
    left: 30px;
    top: 30px;
    color: white;
}

.btn3 {
    background-color: transparent;
    border: 1px solid black;
    height: 30px;
}

.btn4 {
    background-color: transparent;
    border: 1px solid black;
    height: 30px;
}

.btn5 {
    background-color: transparent;
    border: 1px solid black;
    height: 30px;

}

.trending {
    display: flex;
    height: 60px;
    width: auto;
    background-color: gray;
    padding-left: 40%;
    margin-top: 20px;
}

.box1 {
    opacity: 0.8;
    font-weight: bold;
    font-size: large;
    color: white;
}

.box2 {
    padding-left: 20px;
    opacity: 0.7;
    font-weight: bold;
    font-size: large;
}

.box3 {
    padding-left: 20px;
    opacity: 0.5;
    font-weight: bold;
    font-size: large;
}

.img2 {
    height: 60px;
    width: 100px;
    transform: scale(0.7);
}

.img3 {
    height: 200px;
    width: 290px;

}

.special {
    display: flex;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 80px;
    line-height: 1;
}

.special1 {
    margin-left: 30px;
    height: 380px;
    width: 300px;

}

#first {
    margin-left: 30px;
}

.h {
    opacity: 0.8;
}

#he {
    opacity: 0.8;
}

.feature1 {
    background-image: url('./image/card2/fourth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    width: 400px;
    text-align: center;
    color: white;
    margin-left: 80px;
    position: relative;
    transition: 0.2s;
}

.feature1::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}

.feature1:hover::before {
    opacity: 1;
}


.features {
    display: flex;

}

.features2 {
    display: flex;

}

.feature2 {
    margin-left: 20px;
    background-image: url('./image/card2/two.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 412px;
    height: 200px;
    text-align: center;
    color: white;
    position: relative;
}

.feature2::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;


}

.feature2:hover:before {
    opacity: 1;
}





.feature3 {
    margin-left: 20px;
    background-image: url('./image/card2/third.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 412px;
    height: 200px;
    text-align: center;
    color: white;
    position: relative;

}

.feature3::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;


}

.feature3:hover:before {
    opacity: 1;
}






.feature4 {
    margin-left: 20px;
    background-image: url('./image/card2/one (1).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 845px;
    height: 200px;
    text-align: center;
    color: white;
    position: relative;

}

.feature4::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;


}

.feature4:hover:before {
    opacity: 1;
}

.features {
    margin-left: 30px;
}

.btn6 {
    background-color: transparent;
    border: 2px solid #000;

}

.titie {
    margin-top: 20px;
    background-color: gray;
    height: 60px;
    width: 100%;
    text-align: center;
    padding-top: 1px;


}

.card {

    display: inline-block;
    width: 300px;
    height: 330px;
    margin: 10px;
    /* border: 2px solid black; */

    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

}

.card:hover {
    box-shadow: 10px 5px 20px 5px rgba(0, 0, 0, 0.5);
    transition: 0.1s;
    border-radius: 10px;
    background-color: white;

}

/* #container2 {
    border: 3px solid black;
} */

/* .card:hover {
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
} */

.special1:hover {
    box-shadow: 10px 5px 20px 5px rgba(0, 0, 0, 0.5);
    transition: 0.1s;
    border-radius: 10px;
    background-color: white;
}



h2 {
    font-size: 18px;
}

.container {

    margin-left: 100px;
}

.lastest {
    margin-top: 20px;
    background-color: gray;
    height: 60px;
    text-align: center;
    padding-top: 1px;
}

#container3 {
    margin-left: 100px;
}

footer {
    margin-top: 20px;
    background-color: black;
    width: auto;
    height: full;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding-left: 40px;
    padding-right: 40px;
}

.extra {
    padding-left: 40px;
}

.navbar2 {

    justify-content: space-between;
    margin-left: 35%;
}

a {
    text-decoration: none;
    font-size: larger;
    margin: 20px;
    color: black;

}

a:hover {
    color: rgb(97, 185, 199);
}

.navbar3 {
    margin-left: 200px;
    justify-content: space-between;
}

.images {
    margin-left: 20px;
}

#ca {
    margin-top: 30px;
}

.container5 {
    margin-top: 20px;
    background-color: gray;
    height: 60px;
    text-align: center;
    padding-top: 1px;
}

.word-animation {
    font-size: 40px;
    text-align: center;
    font-family: Cursive;
}

.word-animation span {
    display: inline-block;
    opacity: 0;
    transform: translateY(1em);
    animation: showWord 2s ease-out forwards;
}

@keyframes showWord {
    0% {
        opacity: 0;
        transform: translateX(1em);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.word-animation span:nth-child(1) {
    animation-delay: 0s;
}

.word-animation span:nth-child(2) {
    animation-delay: 1s;
}

.word-animation span:nth-child(3) {
    animation-delay: 2s;
}

.word-animation span:nth-child(4) {
    animation-delay: 3s;
}



.style1,
.style2,
.style3,
.style4 {
    display: inline-block;
    opacity: 0;
    transform: translateY(1em);
}

@keyframes showCard1 {
    0% {
        opacity: 0;
        transform: translateY(1em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showCard2 {
    0% {
        opacity: 0;
        transform: translateY(1em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showCard3 {
    0% {
        opacity: 0;
        transform: translateY(1em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showCard4 {
    0% {
        opacity: 0;
        transform: translateY(1em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.style1 {
    animation: showCard1 2s ease-in forwards;
    animation-delay: 0s;
}

.style2 {
    animation: showCard2 2s ease-in forwards;
    animation-delay: 1s;
}

.style3 {
    animation: showCard3 2s ease-in forwards;
    animation-delay: 2s;
}

.style4 {
    animation: showCard4 2s ease-in forwards;
    animation-delay: 3s;
}

.img3 {
    border-radius: 10px;
}

#po {
    padding-top: 45%;

    font-weight: bold;
}

#po1,
#po2 {
    padding-top: 15%;
}

.btn6 {
    padding: 10px;
    border-color: white;
    color: white;
}

#po3 {
    padding-top: 100px;
}

.carde {

    display: inline-block;
    width: 400px;
    height: 500px;
    margin: 10px;
    /* border: 2px solid black; */

    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    /* padding-left: 2px; */

    background: rgb(85, 183, 197);
    color: white;
}

.carde:hover {
    box-shadow: 10px 5px 20px 5px rgba(0, 0, 0, 0.5);
    transition: 0.1s;
    /* border-radius: 10px; */



}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* z-index: 99; */
    border: none;
    outline: none;
    background-color: transparent;
    width: 20px;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

.allpro {
    color: white;
}

#monospace {
    font-family: Monospace;
    margin-bottom: 30px;
}

.btn11 {
    height: 40px;
    width: 80px;
    border: 1px solid black;
    background-color: transparent;

}

.btn11 {
    background-color: transparent;
    height: 40px;
}

#card5 {
    position: relative;
}

#card5::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}

#card5:hover::before {
    opacity: 1;
}

.btn3,
.btn4,
.btn5 {

    color: white;
    border: 1px solid white;
}

/* Style the dropdown content (hidden by default) */
.dropdown {

    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    cursor: pointer;
    padding: 14px 16px;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min: width 220px;
    z-index: 1;
}



/* Show the dropdown menu when the dropdown is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}

#myDropdown {
    background-color: white;
    box-shadow: 5px 5px 10px black;
    padding: 10px;
    border-radius: 10px;
}