.navbar {
    display: flex;
    background: white;
    /* justify-content: center; */
    padding-top: 13px;


}


.text-caro1 {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20%;
    margin-left: 10%;
    color: rgb(99, 63, 63);


}

.btn1 {
    height: 45px;
    width: 180px;
    background-color: black;
    color: white;
}

.btn2 {
    height: 45px;
    width: 180px;
}

/* .style {
    position: absolute;
} */



.btn3 {
    background-color: none;
}

.car {
    display: flex;

}



.ambition {
    margin-left: 600px;
    color: gray;
}

.style1 {
    margin-left: 150px;
    position: relative;




}

.card1 {
    position: absolute;
    left: 30px;
    top: 30px;
    color: white;

}

.style2 {
    margin-left: 40px;
    position: relative;

}

.card2 {
    position: absolute;
    left: 30px;
    top: 30px;
    color: white;
}

.style3 {
    margin-left: 40px;
    position: relative;

}

.card3 {
    position: absolute;
    left: 30px;
    top: 30px;
    color: white;
}

.btn3 {
    background-color: transparent;
    border: 1px solid black;
    height: 30px;
}

.btn4 {
    background-color: transparent;
    border: 1px solid black;
    height: 30px;
}

.btn5 {
    background-color: transparent;
    border: 1px solid black;
    height: 30px;

}

.trending {
    display: flex;
    height: 60px;
    width: auto;
    background-color: gray;
    padding-left: 40%;
    margin-top: 20px;
}

.box1 {
    opacity: 0.8;
    font-weight: bold;
    font-size: large;
}

.box2 {
    padding-left: 20px;
    opacity: 0.7;
    font-weight: bold;
    font-size: large;
}

.box3 {
    padding-left: 20px;
    opacity: 0.5;
    font-weight: bold;
    font-size: large;
}

.img2 {
    height: 60px;
    width: 100px;
    transform: scale(0.7);
}

.img3 {
    height: 250px;
    width: 25s0px;
}

.special {
    display: flex;
    margin-top: 20px;
    text-align: center;
}

.special1 {
    margin-left: 30px;

}

#first {
    margin-left: 30px;
}

.h {
    opacity: 0.8;
}

#he {
    opacity: 0.8;
}

.feature1 {
    background-image: url('./image/card2/fourth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    width: 400px;
    text-align: center;
    color: white;


}

.features {
    display: flex;
}

.features2 {
    display: flex;

}

.feature2 {
    margin-left: 20px;
    background-image: url('./image/card2/two.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 200px;
    text-align: center;
    color: white;
}

.feature3 {
    margin-left: 20px;
    background-image: url('./image/card2/third.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 200px;
    text-align: center;
    color: white;

}

.feature4 {
    margin-left: 20px;
    background-image: url('./image/card2/one (1).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1020px;
    height: 200px;
    text-align: center;
    color: white;

}

.features {
    margin-left: 30px;
}

.btn6 {
    background-color: transparent;
    border: 2px solid #000;

}

.titie {
    margin-top: 20px;
    background-color: gray;
    height: 60px;
    width: 100%;
    text-align: center;
    padding-top: 1px;


}

.card {

    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 10px;

    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

h2 {
    font-size: 18px;
}

.container {

    margin-left: 100px;
}

.lastest {
    margin-top: 20px;
    background-color: gray;
    height: 60px;
    text-align: center;
    padding-top: 1px;
}

#container3 {
    margin-left: 100px;
}

footer {
    margin-top: 20px;
    background-color: black;
    width: auto;
    height: 150px;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding-left: 40px;
    padding-right: 40px;
}

.extra {
    padding-left: 40px;
}

.navbar2 {

    justify-content: space-between;
    margin-left: 35%;
}

a {
    text-decoration: none;
    font-size: larger;
    margin: 20px;
    color: black;

}

a:hover {
    color: rgb(97, 185, 199);
}

.navbar3 {
    margin-left: 200px;
    justify-content: space-between;
}

.images {
    margin-left: 20px;
}

#ca {
    margin-top: 30px;
}

.container5 {
    margin-top: 20px;
    background-color: gray;
    height: 60px;
    text-align: center;
    padding-top: 1px;
}

.word-animation {
    font-size: 40px;
    text-align: center;

}

.word-animation span {
    display: inline-block;
    opacity: 0;
    transform: translateY(1em);
    animation: showWord 2s ease-out forwards;
}

@keyframes showWord {
    0% {
        opacity: 0;
        transform: translateX(1em);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.word-animation span:nth-child(1) {
    animation-delay: 0s;
}

.word-animation span:nth-child(2) {
    animation-delay: 1s;
}

.word-animation span:nth-child(3) {
    animation-delay: 2s;
}

.word-animation span:nth-child(4) {
    animation-delay: 3s;
}



.style1 {
    display: inline-block;
    opacity: 0;
    transform: translateY(1em);
    animation: showCard 2s ease-out forwards;
}

@keyframes showCard {
    0% {
        opacity: 0;
        transform: translateX(1em);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.word-animation span:nth-child(1) {
    animation-delay: 0s;
}

.word-animation span:nth-child(2) {
    animation-delay: 1s;
}

.word-animation span:nth-child(3) {
    animation-delay: 2s;
}

.word-animation span:nth-child(4) {
    animation-delay: 3s;
}