.div8 {
    position: relative;
    display: flex;
    /* justify-content: space-around; */
    /* padding-top: 80px;
    justify-content: space-between; */
    /* padding-left: 30%; */
    /* justify-content: ; */
}

.div1 {
    margin-left: 300px;
    margin-top: 15px;
}

.div9 {
    margin-left: 80%;
    margin-top: 40px;

}

.div15 {
    position: relative;
    display: flex;
    height: 40%;
    width: 70%;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 2%;
    margin-left: 30px;

}

.di {
    position: absolute;
    right: 5%;
    top: 20%;
    border: 2px solid white;
    margin-left: 50px;
    height: 40%;
    width: 20%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: orangered;
    color: white;
    position: fixed;


}

.div10 {
    margin-left: 30px;
}


.paynow {
    margin-top: 15%;

    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 110px;

    background-color: rgb(66,
            135,
            245);
    color: white;
    /* font-weight: bold; */
}

.paynow:hover {
    background-color: white;
    color: rgb(66,
            135,
            245);
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */

    /* color: rgb(132, 109, 26); */

}